.about {
  /* background-color: transparent; */
  background-color: #fff;
  font-size: 1.1em;
}
.profile {
  max-width: 18em;
}

.my-details {
  background-color: rgba(255, 255, 255, 0.747);
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .profile {
    width: 250px;
  } 
  }


  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .profile {
    width: 150px;
  } 
}

@media only screen and (max-width: 568px) {
  .profile {
    width: 150px;
  } 
}




/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .profile {
    width: 250px;
  } 
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.profile {
  max-width: 18em;
}
}

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */
.profile {
  width: 200px;
} }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
  .profile {
    width: 250px;
  }
}
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }